@model List<Biblioteca.Models.CategoriaLivro>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Product Sales</h3>
            </div>
            <div class="card-body pt-4">
                <div class="grid-margin">
                    <div class="">
                        <div class="panel panel-primary">
                            <div class="panel-body tabs-menu-body border-0 pt-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        <div class="table-responsive">
                                            <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                                <div class="row">                                                   
                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-4 mb-0">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="name1" placeholder="Buscar por id">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-4 mb-0">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="name2" placeholder="Buscar por nome">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-3 mb-0">                                                               
                                                                <select name="country" class="form-control form-select select2" data-bs-placeholder="Select Country">
                                                                    <option value="br">Brazil</option>
                                                                    <option value="cz">Czech Republic</option>
                                                                    <option value="de">Germany</option>
                                                                    <option value="pl" selected>Poland</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-1 mb-0">
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-sm btn-primary" id="name2" value="Buscar">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table id="data-table" class="table table-bordered text-nowrap mb-0 dataTable no-footer" role="grid" aria-describedby="data-table_info">
                                                            <thead class="border-top">
                                                                <tr role="row">
                                                                    <th class="bg-transparent border-bottom-0 sorting_disabled" style="width: 88.7188px;" rowspan="1" colspan="1" aria-label="#ID">#ID</th>
                                                                    <th class="bg-transparent border-bottom-0 sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Product: activate to sort column ascending" style="width: 247.875px;">Nome</th>
                                                                    <th class="bg-transparent border-bottom-0 sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 193.469px;">Cadastrado Por</th>
                                                                    <th class="bg-transparent border-bottom-0 sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 146.828px;">Cadastrado Em</th>
                                                                    <th class="bg-transparent border-bottom-0 sorting" style="width: 105.797px;" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                                                    <th class="bg-transparent border-bottom-0 sorting" style="width: 51.6406px;" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Ações</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var formacao in Model)
                                                                {
                                                                    <tr class="border-bottom odd">
                                                                        <td class="text-center">
                                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                                <h6 class="mb-0 fs-14 fw-semibold">@formacao.Id</h6>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex">                                                                                
                                                                                <div class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                    <h6 class="mb-0 fs-14 fw-semibold">@formacao.Nome</h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex">
                                                                                <div class="mt-0 mt-sm-3 d-block">
                                                                                    <h6 class="mb-0 fs-14 fw-semibold">@formacao.Created_at</h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="mt-sm-2 d-block">@formacao.Deleted_at</span></td>                                                                      
                                                                       
                                                                        <td>
                                                                            <div class="mt-sm-1 d-block">
                                                                                <span class="badge @(formacao.isDeletado() ? "bg-danger-transparent" : "bg-success-transparent") rounded-pill text-success p-2 px-3">
                                                                                    @formacao.isDeletado() ? "Sim" : "Não"
                                                                                    </span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="g-2">
                                                                                
                                                                                <a class="#" data-bs-toggle="tooltip" data-bs-original-title="Edit">
                                                                                    <button type="button" class="btn btn-sm btn-dark">
                                                                                        <span class="fe fe-edit fs-14"></span>Upload
                                                                                    </button>                                                                                   
                                                                                </a>


                                                                                <a href="#" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                                                    <button type="button" class="btn btn-sm btn-danger">
                                                                                        <span class="fe fe-trash-2 fs-14"></span>
                                                                                    Link</button>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>